<h1 mat-dialog-title>

    <div class="text-center">

      <h1>Datos sucursal a modificar</h1>

    </div>

</h1>

<div mat-dialog-content class="custom-dialog">
  
    <form autocomplete="off">
  
        <div class="row col-13 mx-auto mt-2">

            <div class="col">

            <div class="form-floating mb-3">

              <input class="form-control" id="nombre" type="text"
                  formControlName="Nombre" placeholder="Nombre"/>

              <label for="nombre">Nombre</label>

            </div>

            </div>
  
        </div>

        <div class="row col-13 mx-auto">

            <div class="col">

                <div class="form-floating mb-3">
    
                  <input class="form-control" id="direccion" type="text"
                      formControlName="direccion" placeholder="Dirección" />
    
                  <label for="direccion">Dirección</label>
        
                </div>
    
              </div>

        </div>
  
        <div class="row col-13 mx-auto">
  
            <div class="col">

                <div class="form-floating mb-3">
    
                  <input class="form-control" id="codigo_postal" type="text"
                      formControlName="codigoPostal" placeholder="Codigo postal"/>
    
                  <label for="codigo_postal">Código postal</label>
    
                </div>
    
              </div>

        </div>

        <div class="row col-13 mx-auto">
            
            <div class="col">

                <div class="form-floating mb-3">
    
                  <input class="form-control" id="telefono" type="number"
                        formControlName="Telefono" placeholder="Teléfono" />
    
                  <label for="telefono">Teléfono</label>
     
                </div>
    
              </div>

        </div>
  
    </form>
    
</div>

<div mat-dialog-actions class="mt-auto d-flex justify-content-center">

    <button class="btn btn-warning mx-2" type="submit">
        Modificar
    </button>

    <button type="button" class="btn btn-danger mx-2" (click)="dialogRef.close()">
        Cerrar
    </button>

</div>
