<h1 mat-dialog-title>

  <div class="text-center">

    <h1>Datos de nuevo usuario</h1>

  </div>

</h1>

<div mat-dialog-content class="custom-dialog">

  <form autocomplete="off">

    <div class="row col-13 mx-auto mt-2">

        <div class="col">

          <div class="form-floating mb-3">

            <input class="form-control" id="nombre" type="text"
                formControlName="Nombre(s)" placeholder="Nombre(s)"/>

            <label for="nombre">Nombre(s)</label>
          
          </div>

        </div>

        <div class="col">

          <div class="form-floating mb-3">
            
            <input class="form-control" id="inputApellidoP" type="text"
                formControlName="Apellido Paterno" placeholder="Apellido Paterno" />
            
              <label for="inputApellidoP">Apellido Paterno</label>

          </div>

        </div>

        <div class="col">

          <div class="form-floating mb-3">
  
            <input class="form-control" id="inputApellidoMaterno" type="text"
                   formControlName="Apellido Materno" placeholder="Apellido Materno"/>
            <label for="inputApellidoM">Apellido Materno</label>
  
          </div>
  
        </div>

    </div>

    <div class="row col-13 mx-auto">

      <div class="col">

          <div class="form-floating mb-3">

            <input class="form-control" id="inputTelefono" type="tel" pattern="[0-9]{10}"
                formControlName="Teléfono" placeholder="Teléfono" />
            
            <label for="inputTelefono">Teléfono</label>

          </div>

      </div>

      <div class="col">

        <div class="form-floating mb-3 col-13 mx-auto">
        
          <input class="form-control" id="inputEmail" type="email" pattern="[0-9]{10}"
              formControlName="Correo Electrónico" placeholder="Correo Electrónico" />
          
          <label for="inputEmail">Correo Electrónico</label>
  
        </div>

      </div>

      <div class="col">

        <div class="form-floating mb-3 col-13 mx-auto">

          <input class="form-control" id="inputNacimiento" type="date" min="1930-01-01" max="2016-12-31"
              formControlName="Fecha de nacimiento" placeholder="Fecha de nacimiento"/>
          
          <label for="inputNacimiento">Fecha de nacimiento</label>
  
        </div>  

      </div>

    </div>

    <div class="row col-13 mx-auto">

      <div class="col">

        <div class="form-floating mb-3">

          <select class="form-control" id="selectAreaUser" formControlName="areaUser" placeholder="Área">
            <option disabled selected>Seleccione un área</option>
            <option value="Cafeteria">Cafetería</option>
            <option value="FrontDesk">FrontDesk</option>
          </select>

          <label for="selectArea">Área</label>

        </div>

      </div>

      <div class="col">

        <div class="form-floating mb-3">

          <select class="form-control" id="selectSucursal" formControlName="sucursalUser" placeholder="Sucursal">
            <option disabled selected>Seleccione una sucursal</option>
          </select>

          <label for="selectSucursal">Sucursal</label>

        </div>

      </div>

      <div class="col">

        <div class="form-floating mb-3 col-13 mx-auto">

          <select class="form-control" id="selectRol" formControlName="Rol" placeholder="Rol">
            <option disabled selected>Seleccionar Rol</option>
            <option value="Administrador">Administrador</option>
            <option value="Vendedor">Vendedor</option>
            <option value="Almacen">Almacén</option>
          </select>

          <label for="selectRol">Rol</label>
  
        </div>

      </div>

    </div>

  </form>
  
</div>

<div mat-dialog-actions class="mt-auto d-flex justify-content-center">

  <button class="btn btn-warning mx-2" type="submit">
      Registrar
  </button>

  <button type="button" class="btn btn-danger mx-2" (click)="dialogRef.close()">
      Cerrar
  </button>

</div>