@import '~bootstrap-icons/font/bootstrap-icons.css';

.mat-toolbar {
    background-color: black;
  }
  
  .toolbar-item-spacer {
    flex: 1 1 auto;
  }
  
  .app-container {
    height: 91.5%;
    margin: 0;
  }  
  .app-sidenav {
    width: 230px;
    background-color: rgb(251, 201, 0);
  }
  .app-sidenav-content {
    height: 100%;
    align-items: center;
    justify-content: center;
  } 
  
  .my-nav-list {
    padding-bottom: 0;
    padding-top: 0; /* Elimina el margen inferior predeterminado */
  }
  
  .my-heading {
    font-size: 18px; /* Ajusta el tamaño de fuente según tus necesidades */
    margin-bottom: 10px; /* Ajusta el margen inferior según tus necesidades */
    background-color: rgba(235, 188, 0, 0.913);
    margin-left: 1px;
  }
  
  .my-heading-top{
    margin-top: 20px; /* ajusta el valor según sea necesario */
    font-size: 18px; /* Ajusta el tamaño de fuente según tus necesidades */
    margin-bottom: 10px; /* Ajusta el margen inferior según tus necesidades */
    background-color: rgba(235, 188, 0, 0.913);
    margin-left: 1px;
  }
  
  .my-list-item {
    height: 34px!important;
    line-height: 34px!important;
    padding-left: 8px!important; /* ajusta el valor según sea necesario */
  }
  .my-list-item-acordeon {
    height: 34px!important;
    line-height: 34px!important;
    background-color: rgb(251, 201, 0); 
  }
  
  
  .my-text {
    font-size: 20px;
  }
  
  .my-link {
    margin-bottom: 0px!important; /* Establece el margen inferior personalizado aquí */
    font-size: 16px; /* Establece el tamaño de fuente personalizado aquí */
    height: 34px!important;
    line-height: 34px!important;
  }
  
  .nav-list-items{
    margin-bottom: -15px!important;;
  }
  
  .mat-expansion-panel {
    background-color: rgb(251, 201, 0); 
  }

  .spacing-right{
    margin-right: 8px;
  }

  .spacing-right-s {
    margin-right: 6px;
  }

  .text-white {
    color: white;
  }