<mat-toolbar>

    <!-- BOTON ABRIR SIDEBAR -->
    <div style="display: flex; align-items: center;">
      <button class="btn btn-warning btn-sm" (click)="sidenav.toggle()" matTooltip="Menu">
        <mat-icon>menu</mat-icon>
      </button>
      <span style="margin-left: 10px; color: white;">ADMINISTRADOR</span>
    </div>
  
    <span class="toolbar-item-spacer"></span>
  
    <!-- BOTON PARA ABRIR MENU USUARIO -->
    <button class="btn btn-warning btn-sm" matTooltip="My Account" [matMenuTriggerFor]="userAccountMenu">
        <mat-icon>account_circle</mat-icon>
    </button>
    <!-- FIN BOTON -->
  
    <!-- MENU USUARIO -->
    <mat-menu #userAccountMenu [overlapTrigger]="false" yPosition="below">
        <button mat-menu-item routerLink="#">
            <mat-icon>person</mat-icon><span>Mi cuenta</span>
        </button>
        <button mat-menu-item routerLink="#">
            <mat-icon>list_alt</mat-icon><span>Bitacora</span>
        </button>
        <button mat-menu-item routerLink="#">
            <mat-icon></mat-icon><span>Actualizar contraseña</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item routerLink="#">
            <mat-icon>exit_to_app</mat-icon>Cerrar sesión
        </button>
    </mat-menu>
  <!-- FIN MENU -->
</mat-toolbar>
  <!-- FIN NAVBAR -->
  
  <!-- INICIO SIDEBAR -->
<mat-sidenav-container class="app-container">

    <mat-sidenav #sidenav mode="side" [class.mat-elevation-z4]="true" class="app-sidenav">
        <mat-nav-list class="list-group my-nav-list">
  
            <!-- SECCION REGISTROS -->
                <h5 class="list-group-item my-heading">REGISTROS</h5>        
  
                <mat-list-item routerLink="#" class="my-list-item">
                    <span class="my-text"><i class="bi bi-person-fill"></i> Usuarios</span>
                </mat-list-item>
  
                <mat-list-item routerLink="#" class="my-list-item">
                    <span class="my-text"><i class="bi bi-truck"></i> Proveedores</span>
                </mat-list-item>
  
                <mat-list-item routerLink="#" class="my-list-item">
                    <span class="my-text"><i class="bi bi-basket-fill"></i> Productos</span>
                </mat-list-item>
  
                <mat-expansion-panel [class.mat-elevation-z0]="true">
                    <mat-expansion-panel-header class="my-list-item-acordeon">
                      <span class="my-text"><i class="bi bi-box-seam-fill"></i> Paquetes</span>
                    </mat-expansion-panel-header>
                    <mat-nav-list class="nav-list-items">
                        <a mat-list-item routerLink="#" class="my-link">Cafeteria</a>
                        <a mat-list-item routerLink="#" class="my-link">FrontDesk</a>
                    </mat-nav-list>
                </mat-expansion-panel>
  
                <mat-list-item routerLink="#" class="my-list-item">
                  <span class="my-text"><i class="bi bi-cart4"></i> Compras</span>
                </mat-list-item>
  
            <!-- SECCION TRANSACCIONES -->
                <h5 class="list-group-item my-heading-top">TRANSACCIONES</h5>
  
                <mat-list-item routerLink="#" class="my-list-item">
                  <span class="my-text"><i class="bi bi-cash-coin"></i> Caja</span>
                </mat-list-item>
  
                <mat-list-item routerLink="#" class="my-list-item">
                    <span class="my-text"><i class="bi bi-clipboard-fill"></i> Facturas</span>
                </mat-list-item>
  
            <!-- SECCION ANALISIS -->
                <h5 class="list-group-item my-heading-top">ANALISIS</h5>
  
                <mat-expansion-panel [class.mat-elevation-z0]="true">
                    <mat-expansion-panel-header class="my-list-item-acordeon">
                      <span class="my-text"><i class="bi bi-clipboard-data-fill"></i> Reportes</span>
                    </mat-expansion-panel-header>
                    <mat-nav-list class="nav-list-items">
                        <a mat-list-item routerLink="#" class="my-link">Insumos</a>
                        <a mat-list-item routerLink="#" class="my-link">Mermas</a>
                        <a mat-list-item routerLink="#" class="my-link">Ventas</a>
                    </mat-nav-list>
                </mat-expansion-panel>
        </mat-nav-list>
    </mat-sidenav>
  
  
    <mat-sidenav-content>
        <router-outlet>
            <div class="app-sidenav-content">
                <ng-content></ng-content>
            </div>
        </router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container> 