<app-admin_master-layout>

  <mat-card>

    <mat-card-header class="d-flex align-items-center">
        <h1 class="mx-auto">ALMACENES</h1>
    </mat-card-header>
      
      <mat-card-content>

        <div class="d-flex justify-content-between p-3 bg-light border border-dashed rounded">
        
          <div>
            <button type="button" class="btn btn-warning" (click)="createDialog()">Registrar almacén</button>
          </div>

          <div class="row">
            <label class="col-md-8">
              <input class="form-control search-input" matInput (keyup)="applyFilter($event)" placeholder="Buscar..." #input>
            </label>
            <div class="col-md-4">
              <form [formGroup]="filtroForm">
                <select class="form-control" formControlName="filtro" (change)="getAlmacenes()">
                  <option value="activos">Activos</option>
                  <option value="inactivos">Inactivos</option>
                </select>
              </form>
            </div>
          </div>

        </div>
                    
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;"
               matSort class="mat-elevation-z8">

          <ng-container matColumnDef="nombreSucursal">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Sucursal </th>
            <td mat-cell *matCellDef="let element"> {{element.nombreSucursal}} </td>
          </ng-container>
                      
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
          </ng-container>     

          <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
            <td mat-cell *matCellDef="let element" class="btn-options"> 
              <mat-slide-toggle *ngIf="element" [(ngModel)]="element.activo" (change)="toggleAlmacen(element)" [ngModel]="filtroForm.get('filtro')?.value === 'activos'"></mat-slide-toggle>
            </td>
          </ng-container>

          <ng-container matColumnDef="created_at">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de creación </th>
            <td mat-cell *matCellDef="let element"> {{element.created_at | date: 'dd/MM/yyyy - HH:mm:ss'}} </td>
          </ng-container>

          <ng-container matColumnDef="updated_at">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de modificación </th>
            <td mat-cell *matCellDef="let element"> {{element.updated_at | date: 'dd/MM/yyyy - HH:mm:ss'}} </td>
          </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
                
      </mat-card-content>   

      <mat-paginator [pageSize]="8" [pageSizeOptions]="[8]"></mat-paginator>

  </mat-card>         
    
</app-admin_master-layout>