<h1 mat-dialog-title class="d-flex align-items-center">
  <div class="flex-grow-1 text-center">
    <h1>DATOS DE NUEVO PAQUETE: CAFETERIA</h1>
  </div>
    <i class="bi bi-x-square" (click)="dialogRef.close()" type="button"></i>
</h1>

<div mat-dialog-content class="custom-dialog">
  <form autocomplete="off" [formGroup]="cafeForm">
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Datos de paquete">
        <div class="row col-13 mx-auto mt-2">
          <div class="col">
            <div class="form-floating mb-3">
              <input class="form-control" id="codigo" type="text" formControlName="codigo" placeholder="Código" />
              <label for="codigo">Código</label>
            </div>
          </div>
          <div class="col">
            <div class="form-floating mb-3">
              <input class="form-control" id="nombre" type="text" formControlName="nombre" placeholder="Nombre" />
              <label for="nombre">Nombre</label>
            </div>
          </div>
        </div>
        <div class="row col-13 mx-auto">
          <div class="col">
            <div class="form-floating mb-3">
              <input class="form-control" id="descripcion" type="text" formControlName="descripcion" placeholder="Descripción" />
              <label for="descripcion">Descripción</label>
            </div>
          </div>
          <div class="col">
            <div class="form-floating mb-3">
              <input class="form-control" id="precio" type="number" formControlName="precio" step="0.01" pattern="\d+(\.\d{1,2})?" placeholder="Precio" />
              <label for="precio">Precio</label>
            </div>            
          </div>
        </div>
        <div class="row col-13 mx-auto">

          <div class="col">
            <section class="example-section">
              <p><mat-checkbox formControlName="iva">IVA</mat-checkbox></p>
            </section>
          </div>

          <div class="col">
            <section class="example-section">
              <p><mat-checkbox formControlName="isr">ISR</mat-checkbox></p>
            </section>
          </div>

        </div>

        <div class="row col-13 mx-auto">
          <div class="col">

            <div class="d-flex align-items-center mt-4">

              <button class="btn btn-warning mx-auto" type="submit" (click)="onSubmit()" [disabled]="cafeForm.invalid">
                    Registrar
              </button>

            </div>

          </div>
        </div>
      </mat-tab>
      <mat-tab label="Productos" [disabled]="!cafeForm.get('precio')?.value || 
                                             !cafeForm.get('nombre')?.value || 
                                             !cafeForm.get('codigo')?.value ||
                                             !cafeForm.get('descripcion')?.value">
        <div class="row col-13 mx-auto mt-2">
          <div class="col">
            <div class="form-floating mb-3">
              <select class="form-control" id="productos" formControlName="productos">
                <option disabled selected>Seleccione un producto</option>
                <option *ngFor="let producto of productos" [value]="producto.id_producto">{{ producto.nombre }}</option>
              </select>
              <label for="productos">Productos</label>
            </div>
          </div>
          <div class="col">
            <div class="form-floating mb-3">
              <input class="form-control" id="cantidad" type="number" formControlName="cantidad" placeholder="Cantidad" min="1" />
              <label for="cantidad">Cantidad</label>
            </div>
          </div>
          <div class="col">
            <div class="d-flex align-items-center mt-2">
              <button class="btn btn-warning mx-auto col-6" type="button" (click)="agregarProducto()">Agregar</button>
              <button class="btn btn-danger mx-2 col-6" type="button" (click)="quitarProducto(i)">Quitar</button>
            </div>
          </div>
        </div>
        <div class="row col-13 mx-auto">
          <div class="col">
            <div class="row col-13 mx-auto">
              <div class="col">
                <table class="table tabla-venta">
                  <thead>
                    <tr>
                      <th>Productos</th>
                      <th>Cantidad</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let producto of cafeForm.get('detalla_cafeteria_producto')?.value; let i = index">
                      <td>{{ idProductoToNombre[producto.id_producto] }}</td>
                      <td>{{ producto.cantidad }}</td>
                    </tr>
                  </tbody>
                </table>     
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </form>
</div>

