<h1 mat-dialog-title class="d-flex align-items-center">
  <div class="flex-grow-1 text-center">
    <h1>DATOS DE NUEVO PROVEEDOR</h1>
  </div>
    <i class="bi bi-x-square" (click)="dialogRef.close()" type="button"></i>
</h1>

<!-- INICIO CONTENIDO DIALOG -->
<div mat-dialog-content class="custom-dialog">

  <form autocomplete="off" [formGroup]="proveedorForm" (ngSubmit)="onSubmit()">

    <!-- FILA DE INPUT RFC, NOMBRE Y CP -->
      <div class="row mt-1 row col-13 mx-auto">
        <!-- INPUT RFC -->
        <div class="col">
          <div class="form-floating mb-3">
            <input class="form-control" id="inputRFC" type="text"
                formControlName="rfc" placeholder="RFC"/>

            <label for="inputRFC">RFC</label>
          </div>
        </div>

        <!-- INPUT NOMBRE -->
        <div class="col">
          <div class="form-floating mb-3">
            <input class="form-control" id="inputNombreProveedor" type="text"
                formControlName="nombre" placeholder="Nombre del proveedor" />

            <label for="inputNombreProveedor">Nombre del proveedor</label>
          </div>
        </div>

        <!-- INPUT CP -->
        <div class="col">
            <div class="form-floating mb-3">
              <input class="form-control" id="inputCPProveedor" type="text"
                  formControlName="codigo_postal" placeholder="Código Postal" />

              <label for="inputCPProveedor">Código Postal</label>
            </div>
          </div>
      
    </div>
    <!-- FIN FILA s-->

    <!-- FILA DE INPUT REGIMEN FISCAL, CORREO Y TELEFONO 1 Y 2 -->
      <div class="row col-13 mx-auto">
        <!-- INPUT REGIMEN -->
        <div class="col">
          <div class="form-floating mb-3">
            <input class="form-control" id="inputRegimenFiscal" type="text"
                formControlName="regimen_fiscal" placeholder="Regimen fiscal"/>

            <label for="inputRegimenFiscal">Regimen fiscal</label>
          </div>
        </div>

        <!-- INPUT TELEFONO 1 -->
        <div class="col">
          <div class="form-floating mb-3">
            <input class="form-control" id="inputTelefono1" type="text"
                formControlName="telefono_fijo" placeholder="Teléfono fijo" />

            <label for="inputTelefono1">Teléfono fijo</label>
          </div>
        </div>

        <!-- INPUT WHATSAPP -->
        <div class="col">
            <div class="form-floating mb-3">
              <input class="form-control" id="inputTelefono2" type="text" 
                  formControlName="telefono_movil" placeholder="WhatsApp" />

              <label for="inputTelefono2">WhatsApp</label>
            </div>
          </div>

      </div>
    <!-- FIN FILA -->

    <!-- SEPARADOR -->
    <div class="row mt-1 row col-13 mx-auto">
      <div class="col">
        <mat-divider>
        </mat-divider>    
      </div>
    </div>

    <!-- FILA DE INPUT BANCO, CLAVE Y CUENTA -->
    <div class="row mt-3 col-13 mx-auto">
  
      <!-- INPUT CUENTA -->
      <div class="col">
        <div class="form-floating mb-3 col-13 mx-auto">
          <input class="form-control" id="inputCuentaB" type="text" 
                formControlName="cuenta_bancaria" placeholder="Cuenta bancaria" 
                (keyup)="onCuentaBancariaInput()">

          <label for="inputCuentaB">Cuenta bancaria</label>
        </div>
      </div>
      <!-- FIN INPUT -->
      
      <!-- INPUT BANCO-->
      <div class="col">
        <div class="form-floating mb-3 col-13 mx-auto">
          <input class="form-control" id="inputNombreBanco" type="text" 
              formControlName="banco"
              [readonly]="true"/>

          <label for="inputNombreBanco">Nombre del banco</label>
        </div>
      </div>
      <!-- FIN INPUT -->

    </div>
    <!-- FIN FILA -->

    <!-- FILA INPUT CUENTA BANCARIA, CONSTANCIA -->
    <div class="row mt-3 col-13 mx-auto">
 
      <!-- INPUT CLAVE -->
      <div class="col">
        <div class="form-floating mb-3 col-13 mx-auto">
          <input class="form-control" id="inputClaveB" type="text" 
              formControlName="clave_interbancaria" placeholder="Clave interbancaria" />

          <label for="inputClaveB">Clave interbancaria</label>
        </div>
      </div>
      <!-- FIN INPUT -->

      <!-- RADIOS BUTTONS -->
      <div class="col">
        <div class="form-floating mt-3">
            <div class="row col-13 mx-auto">
                <section class="example-section">
                    <p><mat-checkbox formControlName="constancia">Constancia</mat-checkbox></p>
                </section>
            </div>
        </div>
      </div>
      <!-- FIN BUTTONS -->

    </div>
    <!-- FIN FILA -->

  </form>
  
</div>

<div mat-dialog-actions class="mt-auto d-flex justify-content-center">

  <button class="btn btn-warning mx-2" type="submit" (click)="onSubmit()" [disabled]="proveedorForm.invalid">
      Registrar
  </button>

</div>