 <!-- TITULO DIALOG -->
  <h1 mat-dialog-title>
    <div class="text-center">
      <h1>Corte parcial de caja</h1>
    </div>
  </h1>
  <!-- FIN TITULO DIALOG -->

  <!-- INICIO CONTENIDO DIALOG -->
  <div mat-dialog-content class="custom-dialog">
  
    <form autocomplete="off">
        
        <mat-tab-group mat-align-tabs="center">

            <mat-tab label="Datos principales">

                <div class="row col-13 mx-auto mt-3">
            
                    <!-- INPUT CODIGO -->
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input class="form-control" id="inputCodigo" type="text"
                                formControlName="codigo" placeholder="Código"/>
        
                            <label for="inputCodigo">Código</label>
                        </div>
                    </div>
                    <!-- FIN INPUT -->
            
                    <!-- INPUT REVISION -->
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input class="form-control" id="inputRevision" type="month"
                                formControlName="Revision" placeholder="Revisión"/>
        
                            <label for="inputRevision">Revisión</label>
                        </div>
                    </div>
                    <!-- FIN INPUT -->
        
                </div>

                <div class="row col-13 mx-auto">

                    <!-- INPUT FECHA DE EMISION -->
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input class="form-control" id="inputFechaEmision" type="month"
                                formControlName="FechaEmision" placeholder="Fecha de emisión"/>
        
                            <label for="inputFechaEmision">Fecha de emisión</label>
                        </div>
                    </div>
                    <!-- FIN INPUT -->
        
                    <!-- INPUT FECHA DE REVISION -->
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input class="form-control" id="inputFechaRevision" type="month"
                                formControlName="FechaRevision" placeholder="Fecha de revisión"/>
        
                            <label for="inputRevision">Fecha de revision</label>
                        </div>
                    </div>
                    <!-- FIN INPUT -->

                </div>

                <div class="row col-13 mx-auto">

                    <!-- SELECT CAJERO -->
                    <div class="col">
                        <div class="form-floating mb-3">
                            <select class="form-control" id="selectCajero" formControlName="cajero" placeholder="Cajero">
                            <option value="" disabled selected>Seleccionar cajero</option>
                            <option value="001">1</option>
                            <option value="002">2</option>
                            </select>
            
                            <label for="selectCajero">Cajero</label>
                        </div>
                    </div>
                    <!-- FIN SELECT -->
        
                    <!-- INPUT FECHA DE CORTE -->
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input class="form-control" id="inputFechaCorte" type="month"
                                formControlName="fechaCorte" placeholder="Fecha del corte"/>
        
                            <label for="inputFechaCorte">Fecha del corte</label>
                        </div>
                    </div>
                    <!-- INPUT FECHA DE CORTE -->
        
                </div>

            </mat-tab>

            <mat-tab label="Efectivo">

                <div class="row col-13 mx-auto mt-3">

                    <!-- INPUT CANTIDAD 1000 -->
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input class="form-control" id="inputCantidadMil" type="number"
                                formControlName="CantidadMil" placeholder="Cantidad de $1,000.00"/>
                            
                            <label for="inputCantidadMil">Cantidad de $1,000.00</label>
                        </div>
                    </div>
                    <!-- FIN INPUT REFERENCIAS -->

                    <!-- INPUT TOTAL 1000 -->
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input class="form-control" id="inputTotalMil" type="text"
                                formControlName="totalMil" placeholder="Total" readonly/>
                        </div>
                    </div>
                    <!-- FIN INPUT TOTAL 1000 -->

                    <!-- INPUT CANTIDAD 500 -->
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input class="form-control" id="inputCantidad500" type="number"
                                formControlName="Cantidad500" placeholder="Cantidad de $500.00"/>
                            
                            <label for="inputCantidad500">Cantidad de $500.00</label>
                        </div>
                    </div>
                    <!-- FIN INPUT CANTIDAD 500 -->

                    <!-- INPUT TOTAL 500 -->
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input class="form-control" id="inputTotal500" type="text"
                                formControlName="total500" placeholder="Total" readonly/>
                        </div>
                    </div>
                    <!-- FIN INPUT TOTAL 500 -->

                </div>

                <div class="row col-13 mx-auto">

                    <!-- INPUT CANTIDAD 200 -->
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input class="form-control" id="inputCantidad200" type="number"
                                formControlName="Cantidad200" placeholder="Cantidad de $200.00"/>
                            
                            <label for="inputCantidad200">Cantidad de $200.00</label>
                        </div>
                    </div>
                    <!-- FIN INPUT 200 -->

                    <!-- INPUT TOTAL 200 -->
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input class="form-control" id="inputTotal200" type="text"
                                formControlName="total200" placeholder="Total" readonly/>
                        </div>
                    </div>
                    <!-- FIN INPUT TOTAL 200 -->

                    <!-- INPUT CANTIDAD 100 -->
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input class="form-control" id="inputCantidad100" type="number"
                                formControlName="Cantidad100" placeholder="Cantidad de $100.00"/>
                            
                            <label for="inputCantidad100">Cantidad de $100.00</label>
                        </div>
                    </div>
                    <!-- FIN INPUT 100 -->

                    <!-- INPUT TOTAL 100 -->
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input class="form-control" id="inputTotal100" type="text"
                                formControlName="total100" placeholder="Total" readonly/>
                        </div>
                    </div>
                    <!-- FIN INPUT TOTAL 100 -->

                </div>

                <div class="row col-13 mx-auto">

                    <!-- INPUT CANTIDAD 50 -->
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input class="form-control" id="inputCantidad50" type="number"
                                formControlName="Cantidad50" placeholder="Cantidad de $50.00"/>
                            
                            <label for="inputCantidad50">Cantidad de $50.00</label>
                        </div>
                    </div>
                    <!-- FIN INPUT 50 -->

                    <!-- INPUT TOTAL 50 -->
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input class="form-control" id="inputTotal50" type="text"
                                formControlName="total50" placeholder="Total" readonly/>
                        </div>
                    </div>
                    <!-- FIN INPUT TOTAL 50 -->

                    <!-- INPUT CANTIDAD 20 -->
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input class="form-control" id="inputCantidad20" type="number"
                                formControlName="Cantidad20" placeholder="Cantidad de $20.00"/>
                                
                            <label for="inputCantidad50">Cantidad de $20.00</label>
                        </div>
                    </div>
                    <!-- FIN INPUT 20 -->

                    <!-- INPUT TOTAL 20 -->
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input class="form-control" id="inputTotal20" type="text"
                                formControlName="total20" placeholder="Total" readonly/>
                        </div>
                    </div>
                    <!-- FIN INPUT TOTAL 20 -->

                </div>

                <div class="row col-13 mx-auto">

                    <!-- INPUT TOTAL MONEDAS -->
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input class="form-control" id="inputTotalMonedas" type="text"
                                formControlName="totalMonedas" placeholder="Total de monedas"/>
                            
                            <label for="inputTotalMonedas">Total de monedas</label>
                        </div>
                    </div>
                    <!-- FIN INPUT MONEDAS -->

                    <!-- INPUT TOTAL -->
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input class="form-control" id="inputTotal" type="text"
                                formControlName="Total" placeholder="Total" readonly/>
                            
                            <label for="inputTotalMonedas">Total de efectivo</label>
                        </div>
                    </div>
                    <!-- FIN INPUT TOTAL -->

                </div>

            </mat-tab>

            <mat-tab label="Tarjetas, transferencias y/o depositos">

                <div class="row col-13 mx-auto mt-3">

                    <!-- INPUT CANTIDAD VOUCHERS -->
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input class="form-control" id="inputCantidadVouchers" type="number"
                                formControlName="CantidadVouchers" placeholder="Cantidad de vouchers"/>
                            
                            <label for="inputCantidadVouchers">Cantidad de vouchers</label>
                        </div>
                    </div>
                    <!-- FIN INPUT VOUCHERS -->

                    <!-- INPUT TERMINAL -->
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input class="form-control" id="inputTerminal" type="text"
                                formControlName="terminal" placeholder="Terminal"/>
                            
                            <label for="inputTerminal">Terminal</label>
                        </div>
                    </div>
                    <!-- FIN INPUT TERMINAL -->

                     <!-- INPUT TOTAL -->
                     <div class="col">
                        <div class="form-floating mb-3">
                            <input class="form-control" id="inputTotalTarjeta" type="text"
                                formControlName="totalTarjeta" placeholder="Total" readonly/>
                            
                            <label for="inputTotalTarjeta">Total de tarjetas</label>
                        </div>
                    </div>
                    <!-- FIN TOTAL -->

                </div>

                <!-- SEPARADOR -->
                <div class="row col-13 mx-auto">
                    <div class="col">
                    <mat-divider>
                    </mat-divider>    
                    </div>
                </div>
                <!-- FIN SEPARADOR -->

                <div class="row col-13 mx-auto mt-3">

                    <!-- INPUT CANTIDAD TRANSFERENCIAS -->
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input class="form-control" id="inputCantidadTransf" type="number"
                                formControlName="CantidadTransf" placeholder="Cantidad de transferencias"/>
                            
                            <label for="inputCantidadTransf">Cantidad de transferencias</label>
                        </div>
                    </div>
                    <!-- FIN INPUT TRANSFERENCIAS -->

                    <!-- INPUT TOTAL -->
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input class="form-control" id="inputTotalTransf" type="text"
                                formControlName="totalTransf" placeholder="Terminal" readonly/>
                        </div>
                    </div>
                    <!-- FIN INPUT TOTAL -->


                </div>

                <div class="row col-13 mx-auto">

                    <!-- INPUT CANTIDAD DEPOSITOS -->
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input class="form-control" id="inputCantidadDepos" type="number"
                                formControlName="CantidadDepos" placeholder="Cantidad de depositos"/>
                            
                            <label for="inputCantidadDepos">Cantidad de depositos</label>
                        </div>
                    </div>
                    <!-- FIN INPUT DEPOSITOS -->

                    <!-- INPUT TOTAL DEPOS-->
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input class="form-control" id="inputTotalDepos" type="text"
                                formControlName="totalDepos" placeholder="TotalDepos" readonly/>
                        </div>
                    </div>
                    <!-- FIN INPUT TOTAL -->


                </div>

                <div class="row col-13 mx-auto">

                    <!-- INPUT -->
                    <div class="col">
                        <div class="form-floating mb-3">
                        </div>
                    </div>
                    <!-- FIN INPUT -->

                    <!-- INPUT TOTAL TRANSFE. Y DEPOS. -->
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input class="form-control" id="inputTotalTD" type="text"
                                formControlName="totalTD" placeholder="Total" readonly/>

                            <label for="inputTotalTD">Total de transferencias y depositos</label>
                        </div>
                    </div>
                    <!-- FIN INPUT TOTAL -->

                </div>

            </mat-tab>

            <mat-tab label="Referencias y finalización">

                <div class="row col-13 mx-auto mt-3">

                    <!-- INPUT CANTIDAD VOUCHERS -->
                    <div class="col">
                        <div class="form-floating mb-3">
                            <mat-card>
                                <mat-card-content>GRAN TOTAL</mat-card-content>
                              </mat-card>
                        </div>
                    </div>
                    <!-- FIN INPUT VOUCHERS -->

                    <!-- INPUT TOTAL TRANSFE. Y DEPOS. -->
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input class="form-control" id="inputTotalTD" type="text"
                                formControlName="totalTD" placeholder="Total" readonly/>

                            <label for="inputTotalTD">Total de transferencias y depositos</label>
                        </div>
                    </div>
                    <!-- FIN INPUT TOTAL -->

                </div>

                <div class="row col-13 mx-auto mt-3">

                    <!-- TEXTAREA REFERENCIAS. -->
                    <div class="col">
                        <div class="form-floating mb-3">
                            <textarea class="form-control" id="inputReferencia" type="text"
                                formControlName="referenciaCorte" placeholder="Referencias"></textarea>

                            <label for="inputReferencia">Referencias</label>
                        </div>
                    </div>
                    <!-- FIN TEXTAREA -->

                </div>

                <div class="row col-13 mx-auto">
                    <div class="col">
                    <div class="d-flex align-items-center mt-4">
                        <button class="btn btn-warning mx-auto col-6" type="submit">
                        Registrar
                        </button>
                    </div>
                    </div>
                    
                    <div class="col">
                    <div class="d-flex align-items-center mt-4">
                        <button type="button" class="btn btn-danger mx-auto col-4" (click)="dialogRef.close()">
                        Cerrar
                        </button>
                    </div>
                    </div>
                </div>

            </mat-tab>

        </mat-tab-group>
  
    </form>
    
  </div>
  <!-- FIN CONTENIDO DE DIALOG -->