<h1 mat-dialog-title>

    <div class="text-center">

      <h1>Datos de servicio a modificar</h1>

    </div>

</h1>
  
<div mat-dialog-content class="custom-dialog">
  
  <form autocomplete="off">
  
    <div class="row col-13 mx-auto mt-2">

        <div class="col">

          <div class="form-floating mb-3">

            <input class="form-control" id="nombre_servicio" type="text"
                formControlName="Servicio" placeholder="Nombre" />

            <label for="nombre_servicio">Nombre</label>

          </div>

        </div>

    </div>

    <div class="row col-13 mx-auto mt-2">

      <div class="col">

        <div class="form-floating mb-3">

          <select class="form-control" id="tipo_egreso" 
                  formControlName="tipoEgreso">
            <option disabled selected>Seleccione el tipo de egreso</option>
            <option value="">Activos</option>
            <option value="">Compras</option>
            <option value="">Gastos</option>
          </select>
          
          <label for="tipo_egreso">Tipo de egreso</label>

      </div>

      </div>

    </div>
            
  </form>
    
</div>

<div mat-dialog-actions class="mt-auto d-flex justify-content-center">

  <button class="btn btn-warning mx-2" type="submit">
      Modificar
  </button>

  <button type="button" class="btn btn-danger mx-2" (click)="dialogRef.close()">
      Cerrar
  </button>

</div>
