<!-- TITULO DIALOG -->
<h1 mat-dialog-title>
  <div class="text-center">
    <h1>Detalle de paquete</h1>
  </div>
</h1>
<!-- FIN TITULO DIALOG -->

<!-- INICIO CONTENIDO DIALOG -->
<div mat-dialog-content class="custom-dialog">

    <form autocomplete="off" [formGroup]="FormDialogCafeteria">
        
        <mat-tab-group mat-align-tabs="center">

            <mat-tab label="Datos del paquete">

                <!------------------------------- CLASIFICACION Y DATOS ----------------------------------------------------------------->
                
                <!-- INICIO FILA -->
                <div class="row col-13 mx-auto">

                    <!-- SELECT CLASIFICACION -->
                    <div class="col">
                        <div class="form-floating mb-3 mt-3">
                            <select class="form-control" id="selectClasificacionPC" formControlName="clasificacionPC" placeholder="Clasificación">
                                <option value="" disabled selected>Selecciona una clasificación</option>
                                <option value="Fiestas y cumpleaños">Fiestas y cumpleaños</option>
                                <option value="Pase">Pase</option>
                            </select>
                            
                            <label for="selectCLasificacionPC">Clasificación</label>
                        </div>
                    </div>
                    <!-- FIN SELECT CLASIFICACION -->

                </div>
                <!-- FIN FILA -->

                <!-- INICIO FILA -->
                <div class="row col-13 mx-auto">

                    <!-- INPUT CODIGO -->
                    <div class="col">
                        <div class="form-floating mb-3 mt-3">
                            <input class="form-control" id="inputCodigoPC" type="text"
                                   formControlName="codigoPC" placeholder="Código de paquete"/>
                    
                            <label for="inputCodigoPC">Código de paquete</label>
                        </div>
                    </div>
                    <!-- FIN INPUT CODIGO --> 


                    <!-- INPUT NOMBRE -->
                    <div class="col">
                        <div class="form-floating mb-3 mt-3">
                        <input class="form-control" id="inputNombrePC" type="text"
                            formControlName="nombrePC" placeholder="Nombre" />
    
                        <label for="inputNombrePC">Nombre</label>
                        </div>
                    </div>
                    <!-- FIN INPUT NOMBRE --> 

                </div>
                <!-- FIN FILA -->

                <!-- INICIO FILA -->
                <div class="row col-13 mx-auto">

                    <!-- INPUT MIN PERSONAS -->
                    <div class="col">
                        <div class="form-floating mb-3 mt-3">
                        <input class="form-control" id="inputMinPersonas" type="number"
                                formControlName="minPersonas" placeholder="Min. Personas"/>
    
                        <label for="inputMinPersonas">Min. Personas</label>
                        </div>
                    </div>
                    <!-- FIN INPUT MIN PERSONAS -->

                    <!-- INPUT MAX PERSONAS -->
                    <div class="col">
                        <div class="form-floating mb-3 mt-3">
                        <input class="form-control" id="inputMaxPersonas" type="number"
                            formControlName="maxPersonas" placeholder="Max. Personas" />
    
                        <label for="inputMaxPersonas">Max. Personas</label>
                        </div>
                    </div>
                    <!-- FIN INPUT MAX PERSONAS --> 

                </div>
                <!-- FIN FILA -->

                <!-- INICIO FILA -->
                <div class="row col-13 mx-auto">

                    <!-- INPUT DESCRIPCION -->
                    <div class="col">
                        <div class="form-floating mb-3 mt-3">
                            <textarea class="form-control" id="inputDescripcionPC" type="text"
                                formControlName="descripcionPC" placeholder="Descripción"></textarea>
        
                            <label for="inputDescripcionPC">Descripción</label>
                        </div>
                    </div>
                    <!-- FIN INPUT DESCRIPCION --> 

                </div>
                <!-- FIN FILA -->

            </mat-tab>

            <mat-tab label="Productos">
                <div class="row col-13 mx-auto">
                    <!-- PRODUCTOS -->
                    <div class="col">
                        <form [formGroup]="productosFormPC">
                            <div class="form-floating mb-3 mt-3">
                                <select class="form-control" id="selectProductosPC" formControlName="productosPC" placeholder="Productos">
                                    <option value="" disabled selected>Selecciona un producto</option>
                                    <!-- OPCIONES SOLO DE EJEMPLO -->
                                    <option value="Calcetas">Calcetas</option>
                                    <option value="Bebidas">Bebidas</option>
                                    <option value="Ropa">Ropa</option>
                                </select>
                                <label for="selectProductosPC">Productos</label>
                            </div>
                        </form>
                    </div>
        
                    <div class="col">
                        <div class="d-flex align-items-center mt-4">
                            <button class="btn btn-warning mx-auto col-6" (click)="agregarProductoPC()">
                                Agregar
                            </button>
                            
                            <button class="btn btn-danger mx-2 col-6 " (click)="eliminarUltimaFila()">
                                Quitar
                            </button>
                        </div>
                    </div>
                </div>

                <div class="row col-13 mx-auto">
                    <div class="col">
                        <table #tablaProductos class="table table-striped table-bordered">
                            <thead class="thead-dark">
                            <tr>
                                <th>Productos dentro del paquete:</th>
                            </tr>
            
                            </thead>
                            <tbody>
                                <!-- aquí se agregarán los productos -->
                            </tbody>
                        </table>    
                        <!-- FIN PRODUCTOS -->
                    </div>
                </div>
                

            </mat-tab>

            <mat-tab label="Precio">
                <!-- INICIO FILA -->
                <div class="row col-13 mx-auto">

                    <!-- INPUT PRECIO -->
                    <div class="col">
                        <div class="form-floating mb-3 mt-3">
                            <input class="form-control" id="inputPrecioPC" type="number"
                                   formControlName="precioPC" placeholder="Precio" readonly/>
                    
                            <label for="inputPrecioPC">Precio base</label>
                        </div>
                    </div>
                    <!-- FIN INPUT PRECIO --> 

                    <!-- RADIOS BUTTONS -->
                    <div class="col">
                        <div class="form-floating mt-3">
                            <div class="row col-13 mx-auto">
                                <section class="example-section" [formGroup]="precioValues">
                                    <p><mat-checkbox formControlName="IVA">IVA</mat-checkbox></p>
                                    <p><mat-checkbox formControlName="Descuento" [(ngModel)]="descuentoActivo">Descuento</mat-checkbox></p>
                                </section>
                            </div>
                        </div>
                    </div>
                    <!-- FIN BUTTONS -->

                </div>
                <!-- FIN FILA -->

                <!-- INICIO FILA -->
                <div class="row col-13 mx-auto">

                   <!-- INPUT DESCUENTO -->
                   <div class="col">
                        <div class="form-floating mb-3 mt-3" *ngIf="descuentoActivo">
                            <input class="form-control" id="inputDescuentoPC" type="number"
                            formControlName="descuentoPC" placeholder="Descuento %"/>
                
                            <label for="inputDescuentoPC">Descuento %</label>
                        </div>
                    </div>
                    <!-- FIN INPUT DESCUENTO --> 

                </div>
                <!-- FIN FILA -->
                               
                <div class="row col-13 mx-auto">
                    <!-- INPUT PRECIO FINAL -->
                    <div class="col">
                        <div class="form-floating mb-3 mt-3">
                            <input class="form-control" id="inputPrecioFinalPC" type="number"
                                formControlName="precioFinalPC" placeholder="Precio final" readonly/>

                            <label for="inputPrecioFinalPC">Precio final</label>
                        </div>
                    </div>
                    <!-- FIN INPUT PRECIO FINAL --> 
                </div>

                <!------------------------------- BOTONES CERRAR Y REGISTRAR ------------------------------------------------------------------------->
            <div class="row col-13 mx-auto">

                <div class="col">
                  <div class="d-flex align-items-center mt-4">
                    <button class="btn btn-warning mx-auto col-6" type="submit">
                      Registrar
                    </button>
                  </div>
                </div>
                
                <div class="col">
                  <div class="d-flex align-items-center mt-4">
                    <button type="button" class="btn btn-danger mx-auto col-4" (click)="dialogRef.close()">
                      Cerrar
                    </button>
                  </div>
                </div>
                
              </div>
              <!-- FIN DIV BOTONES -->

            </mat-tab>

        </mat-tab-group>
    </form>
</div>