<!-- <input class="my-4" type="text"> -->

<div class="row justify-content-end">
    <div class="col-6">
        <div class="input-group my-3">
            <input type="text" class="form-control is-invalid" placeholder="Buscar..." aria-label="Buscar..."
                aria-describedby="button-addon2">
            <button class="btn btn-secondary" style="background-color: #F2F2F2; color: black;" type="button"
                id="button-addon2">Button</button>
        </div>
    </div>
</div>



<ng-container>
    <table class="table table-striped table-bordered text-center">

        <thead>
            <tr>
                <th>Nombre completo</th>
                <th>Nombre de usuario</th>
                <th>Correo</th>
                <th>Celular</th>
                <th>Creación</th>
                <th>Ultima actulización</th>
                <!-- <th></th> -->
                <th></th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let usuario of usuarios">
                <th contenteditable="true">{{usuario.nombre}} {{usuario.apellidoPaterno}} {{usuario.apellidoMaterno}}
                </th>
                <th editable="text">{{usuario.username}}</th>
                <th>{{usuario.email}}</th>
                <th>{{usuario.celular}}</th>
                <th>{{usuario.createdAt | date:'h:mm a, d MMM, y'}}</th>
                <th>{{usuario.updatedAt | date:'h:mm a, d MMM, y'}}</th>
                <!-- <th><i class="bi bi-pencil-square"></i></th> -->
                <th>
                    <button style="border: 0px; background-color: transparent;">
                        <i class="bi bi-trash"></i>
                    </button>
                </th>
            </tr>
        </tbody>

    </table>
</ng-container>

<button type="button" (click)="crearUser()" class="btn btn-secondary" style="background-color: #F2F2F2; color: black;">
    Crear nuevo usuario
</button>

<nav aria-label="Page navigation example">
    <ul class="pagination my-5">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>