<!-- TITULO DIALOG -->
<h1 mat-dialog-title>Datos de proveedor nuevo:</h1>
<!-- FIN TITULO DIALOG -->

<!-- INICIO CONTENIDO DIALOG -->
<div mat-dialog-content class="custom-dialog">

  <form autocomplete="off">

    <!-- FILA DE INPUT RFC, NOMBRE Y CP -->
      <div class="row mt-1 row col-13 mx-auto">
        <!-- INPUT RFC -->
        <div class="col">
          <div class="form-floating mb-3">
            <input class="form-control" id="inputRFC" type="text"
                formControlName="RFC" placeholder="RFC"/>
            <label for="inputRFC">RFC</label>
            <!-- Aqui falta la validacion -->
            <div class="invalid-tooltip">
                Please choose a username.
            </div>
          </div>
        </div>

        <!-- INPUT NOMBRE -->
        <div class="col">
          <div class="form-floating mb-3">
            <input class="form-control" id="inputNombreProveedor" type="text"
                formControlName="NombreProveedor" placeholder="Nombre del proveedor" />
            <label for="inputNombreProveedor">Nombre del proveedor</label>
            <!-- Aqui falta la validacion -->
            <div class="invalid-feedback">
                La contraseña es obligatoria.
            </div>
          </div>
        </div>

        <!-- INPUT CP -->
        <div class="col">
            <div class="form-floating mb-3">
              <input class="form-control" id="inputCPProveedor" type="number"
                  formControlName="CPProveedor" placeholder="Código Postal" />
              <label for="inputCPProveedor">Código Postal</label>
              <!-- Aqui falta la validacion -->
              <div class="invalid-feedback">
                  La contraseña es obligatoria.
              </div>
            </div>
          </div>
      
    </div>
    <!-- FIN FILA -->

    <!-- FILA DE INPUT REGIMEN FISCAL, CORREO Y TELEFONO 1 Y 2 -->
      <div class="row col-13 mx-auto">
        <!-- INPUT REGIMEN -->
        <div class="col">
          <div class="form-floating mb-3">
            <input class="form-control" id="inputRegimenFiscal" type="text"
                formControlName="RegimenFiscal" placeholder="Regimen fiscal"/>
            <label for="inputRegimenFiscal">Regimen fiscal</label>
            <!-- Aqui falta la validacion -->
            <div class="invalid-tooltip">
                Please choose a username.
            </div>
          </div>
        </div>

        <!-- INPUT TELEFONO 1 -->
        <div class="col">
          <div class="form-floating mb-3">
            <input class="form-control" id="inputTelefono1" type="number" pattern="[0-9]{10}"
                formControlName="Telefono1" placeholder="Teléfono #1" />
            <label for="inputTelefono1">Teléfono #1</label>
            <!-- Aqui falta la validacion -->
            <div class="invalid-feedback">
                La contraseña es obligatoria.
            </div>
          </div>
        </div>

        <!-- INPUT TELEFONO 2 -->
        <div class="col">
            <div class="form-floating mb-3">
              <input class="form-control" id="inputTelefono2" type="number" pattern="[0-9]{10}"
                  formControlName="Telefono2" placeholder="Teléfono #2" />
              <label for="inputTelefono2">Teléfono #2</label>
              <!-- Aqui falta la validacion -->
              <div class="invalid-feedback">
                  La contraseña es obligatoria.
              </div>
            </div>
          </div>

      </div>
    <!-- FIN FILA -->

    <!-- SEPARADOR -->
    <div class="row mt-1 row col-13 mx-auto">
      <div class="col">
        <mat-divider>
        </mat-divider>    
      </div>
    </div>

    <!-- FILA DE INPUT BANCO, CLAVE Y CUENTA -->
    <div class="row mt-3 col-13 mx-auto">

      <!-- INPUT BANCO-->
      <div class="col">
        <div class="form-floating mb-3 col-13 mx-auto">
          <input class="form-control" id="inputNombreBanco" type="text" 
              formControlName="NombreBanco" placeholder="Nombre del banco" />
          <label for="inputNombreBanco">Nombre del banco</label>
        </div>
      </div>
      <!-- FIN INPUT -->

      <!-- INPUT CLAVE -->
      <div class="col">
        <div class="form-floating mb-3 col-13 mx-auto">
          <input class="form-control" id="inputClaveB" type="text" 
              formControlName="ClaveB" placeholder="Clave interbancaria" />
          <label for="inputClaveB">Clave interbancaria</label>
        </div>
      </div>
      <!-- FIN INPUT -->

      <!-- INPUT CUENTA -->
      <div class="col">
        <div class="form-floating mb-3 col-13 mx-auto">
          <input class="form-control" id="inputCuentaB" type="text" 
              formControlName="CuentaB" placeholder="Cuenta bancaria" />
          <label for="inputCuentaB">Cuenta bancaria</label>
        </div>
      </div>
      <!-- FIN INPUT -->

    </div>
    <!-- FIN FILA -->

    
      <!-- DIV BOTONES -->
      <div class="row col-13 mx-auto">
        <div class="col">
          <div class="d-flex align-items-center mt-4">
            <button class="btn btn-warning mx-auto col-6" type="submit">
              Registrar
            </button>
          </div>
        </div>
        
        <div class="col">
          <div class="d-flex align-items-center mt-4">
            <button type="button" class="btn btn-danger mx-auto col-4" (click)="dialogRef.close()">
              Cerrar
            </button>
          </div>
        </div>
      </div>
      <!-- FIN DIV BOTONES -->

  </form>
  
</div>
<!-- FIN CONTENIDO DE DIALOG -->