<!-- TITULO DIALOG -->
<h1 mat-dialog-title>
    <div class="text-center">
      <h1>¿Seguro desea eliminar este usuario?</h1>
    </div>
  </h1>
  <!-- FIN TITULO DIALOG -->
  
  <!-- INICIO CONTENIDO DIALOG -->
  <div mat-dialog-content class="custom-dialog">
  
    <form autocomplete="off">
  
        <!-- DIV BOTONES -->
        <div class="row">
          <div class="col">
            <div class="d-flex align-items-center mt-4">
              <button class="btn btn-warning mx-auto col-6" type="submit">
                Eliminar
              </button>
            </div>
          </div>
          
          <div class="col">
            <div class="d-flex align-items-center mt-4">
              <button type="button" class="btn btn-danger mx-auto col-4" (click)="dialogRef.close()">
                Cancelar
              </button>
            </div>
          </div>
        </div>
        <!-- FIN DIV BOTONES -->
  
    </form>
    
  </div>
  <!-- FIN CONTENIDO DE DIALOG -->