<app-admin-layout>
        <mat-card>
            <mat-card-header class="d-flex align-items-center">
                <h1 class="mx-auto">REGISTRO DE COMPRAS</h1>
            </mat-card-header>

            <mat-card-content>

                <div class="d-flex justify-content-between p-3 bg-light border border-dashed rounded">
                    <!-- BOTON CREAR -->
                    <div>
                      <button type="button" class="btn btn-warning" (click)="createDialog()">Registrar nueva compra</button>
                    </div>
                    <!-- FIN BOTON -->
                  
                    <!-- FILTRO -->  
                    <div>
                      <input class="search-input w-100" matInput (keyup)="applyFilter($event)" placeholder="Buscar..." #input>
                    </div>
                    <!-- FIN FILTRO -->
                </div>
                
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;">

                    <!--  -->
                    <ng-container matColumnDef="proveedor">
                      <th mat-header-cell *matHeaderCellDef> Proveedor </th>
                      <td mat-cell *matCellDef="let element"> {{element.proveedor}}</td>
                    </ng-container>
                  
                    <!--  -->
                    <ng-container matColumnDef="referencia">
                      <th mat-header-cell *matHeaderCellDef> Referencia </th>
                      <td mat-cell *matCellDef="let element"> {{element.referencia}} </td>
                    </ng-container>
                  
                    <!--  -->
                    <ng-container matColumnDef="fechaFactura">
                      <th mat-header-cell *matHeaderCellDef> Fecha de factura </th>
                      <td mat-cell *matCellDef="let element"> {{element.fechaFactura}} </td>
                    </ng-container>
                  
                    <!--  -->
                    <ng-container matColumnDef="complementoPago">
                      <th mat-header-cell *matHeaderCellDef> Complemento de pago </th>
                      <td mat-cell *matCellDef="let element"> {{element.complementoPago}} </td>
                    </ng-container>

                    <!--  -->
                    <ng-container matColumnDef="importeTotal">
                        <th mat-header-cell *matHeaderCellDef> Importe </th>
                        <td mat-cell *matCellDef="let element"> {{element.importeTotal}} </td>
                    </ng-container>

                    <ng-container matColumnDef="opciones">
                      <th mat-header-cell *matHeaderCellDef> Opciones </th>
                      <td mat-cell *matCellDef="let element">
                        <button *ngIf="element" type="button" class="btn btn-info mr-2" (click)="editDialog(element)">Modificar</button>
                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    <!-- EN CASO DE QUE NO COINCIDAN LOS RESULTADOS DE BUSQUEDA -->
                    <!-- <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No se encuentran resultados "{{input.value}}"</td>
                    </tr> -->
                </table>
                
            </mat-card-content>   
            <!-- INICIO PAGINACION -->
            <mat-paginator class="mt-4"
                 showFirstLastButtons>
            </mat-paginator>
            <!-- FIN PAGINACION -->
        </mat-card> 
</app-admin-layout>