<h1 mat-dialog-title>

  <div class="text-center">

    <h1>Datos de usuario a modificar</h1>

  </div>

</h1>

<div mat-dialog-content class="custom-dialog">

  <form autocomplete="off">

    <div class="row col-13 mx-auto">

      <div class="col">

        <div class="form-floating mb-3">

        
        </div>

      </div>

      <div class="col">

        <div class="form-floating mb-3">


        </div>

      </div>

    </div>

  </form>
  
</div>

<div mat-dialog-actions class="mt-auto d-flex justify-content-center">

  <button type="button" class="btn btn-danger mx-2" (click)="dialogRef.close()">
      Cerrar
  </button>

</div>